*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 0.3s cubic-bezier(0.61, 0, 0.2, 1);
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}
